@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(public/images/Dungeons-and-dr-3.png);
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-color: rgba(159, 162, 171, 0.245);
  background-blend-mode:soft-light;
  background-size: cover;
   /*--------- fallback without blend mode ------- */
  /* font-family: 'Ubuntu', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.form label {
  color: white;
}

.form button {
  color:white;
}

.wrapper {
  display: flex;
  width: 100%;
  gap: 0.25rem;
}

#container {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  /* flex-grow: 1; */
  /* grid-template-columns: 1fr auto 1fr; The 'auto' column will contain the content */
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  /* border: 10px solid darkorange; */
  margin: auto;
  /* margin: 1em; */
  gap: 1em;
  /* height: 100%; */
  /* width: 100vw; */
}

/* #center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2; 
  height: 100%;
} */

#canvas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
  width: 50vw;
  /* height: 50vw; */
  /* align-self: center; */
  /* justify-items: center; */
  /* border: 5px solid aqua; */
  margin: auto;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 20vw;  */
  /* transform: translateY(-50%); */
}

#numberBox {
  text-align: center;
  font-size: 2vw;
  background-color: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  flex-direction: column;
  border: 5px solid blueviolet;

  height: 55vh;
  width: 15vw;   
  /* position: absolute; position #player absolutely */
  /* top: 50%; align #player to middle */
  /* right: 4vw;  */
  /* transform: translateY(-50%); adjust #player's position so its middle aligns with the middle of the screen */
  /* overflow: auto; */
}

.thisfucks {
font-size: 10vw;
}

#player {  
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  border: 5px solid blueviolet;

  height: 55vh;
  width: 15vw;
  /* position: absolute; position #player absolutely */
  /* top: 50%; align #player to middle */
  /* left: 2vw; push #player to left edge */
  /* transform: translateY(-50%); adjust #player's position so its middle aligns with the middle of the screen */
  background-color: rgba(0,0,0,0.7);
  color: white;
  overflow: auto;
}

#commentBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid blueviolet;
  height: 15vh;
  width: 50vw;
  margin-top: 1em;
  padding: 1em;
  /* position: absolute; position #player absolutely */
  /* bottom: 3%; align #player to middle */
  /* left: 20vw; */
  color: white;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

#commentBox p {
  text-align: center;
}

#outcomeList {
  display: flex;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  color: white;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}


h1 {
  /* justify-content: center; */
  color: white;
  /* margin-top: 1em; */
  text-align: center;
  /* align-self: flex-start; */
  justify-self: center;
  font-size: 60px;
  /* position: absolute; */

  /* left: 28vw; */
}

.playerItem {
  padding-block: 1em;
}