@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(public/images/Dungeons-and-dr-3.png);
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  margin: 0;
  height: 100vh;
  background-color: rgba(159, 162, 171, 0.245);
  background-blend-mode:soft-light;
  background-size: cover;
   /*--------- fallback without blend mode ------- */
  /* font-family: 'Ubuntu', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


#container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* The 'auto' column will contain the content */
  justify-items: center;
  align-items: center;
  border-color: darkorange;
  border: 10px solid;
  height: 100vh;
  width: 100vw;
}

#center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2; 
  height: 100%;
}

#canvas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  width: 50vw;
  height: 55vh;
  align-items: start;
  justify-items: center;
  border-color: aqua;
  border: 5px solid;
  margin: 0%;
  position: absolute;
  top: 50%;
  left: 20vw; 
  transform: translateY(-50%);
}

#numberBox {
  text-align: center;
  font-size: 2vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 5px solid;
  border-color: blueviolet;
  height: 55vh;
  width: 22vw;   
  position: absolute; /* position #player absolutely */
  top: 50%; /* align #player to middle */
  right: 4vw; 
  transform: translateY(-50%); /* adjust #player's position so its middle aligns with the middle of the screen */
  overflow: auto;
}

.thisfucks {
font-size: 10vw;
}
#player {
  justify-content: left;
  display: flex;
  flex-direction: column;
  border: 5px solid;
  border-color: blueviolet;
  height: 55vh;
  width: 12vw;
  position: absolute; /* position #player absolutely */
  top: 50%; /* align #player to middle */
  left: 2vw; /* push #player to left edge */
  transform: translateY(-50%); /* adjust #player's position so its middle aligns with the middle of the screen */
  background-color: white;
  overflow: auto;
}

#commentBox {
  justify-content:center;
  display: flex;
  flex-direction: column;
  border: 5px solid;
  /* border-color: blueviolet; */
  height: 15vh;
  width: 50vw;
  position: absolute; /* position #player absolutely */
  bottom: 3%; /* align #player to middle */
  left: 20vw;
  background-color: white;
  overflow: auto;
}




h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 60px;
  position: absolute;
  top: 5%;
  left: 28vw;
}
